# Docker / PostgreSQL
POSTGRES_USER=inventario
POSTGRES_PASSWORD=troque-esta-senha-do-postgres
POSTGRES_DB=inventario_ti
POSTGRES_PORT=5434

# PgAdmin
PGADMIN_DEFAULT_EMAIL=admin@local.test
PGADMIN_DEFAULT_PASSWORD=troque-esta-senha-do-pgadmin
PGADMIN_PORT=5050

# API
DATABASE_URL="postgresql://inventario:troque-esta-senha-do-postgres@localhost:5434/inventario_ti?schema=public"
JWT_SECRET="troque-por-um-segredo-longo-e-aleatorio"
JWT_EXPIRES_IN="8h"
ADMIN_EMAIL="admin@inventario.local"
ADMIN_PASSWORD="troque-esta-senha-do-admin"
ADMIN_NAME="Administrador"
PORT=3000

# Web
NEXT_PUBLIC_API_URL="http://localhost:3000"
